:root {
	font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;
	background-image: radial-gradient(
		circle,
		hsl(201, 53%, 62%) 30%,
		hsl(200, 32%, 39%) 70%
	);
	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
body {
	background: transparent;
	height: 100vh;
}

.dashboard-wrapper {
	color: hsla(0, 0%, 100%, 0.87);
	background: hsla(200, 52%, 89%, 0.4);
	backdrop-filter: blur(55px);
}

.main-forecast {
	background: hsla(200, 42%, 79%, 0.4);
	backdrop-filter: blur(55px);
}

li {
	list-style: none;
}

ul {
	padding-left: 0;
}

.spinner-wrapper {
	min-height: 240px;
}

.remove {
	width: 15px;
	height: 15px;
	font-size: 14px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.remove:hover {
	color: darkred;
	cursor: default;
}

.btn-custom {
	background-color: hsla(200, 52%, 89%, 1);
	color: #212122;
}
.btn-custom:hover {
	background-color: hsla(200, 52%, 89%, 0.8);
	color: #212122;
}
.btn-history {
	background: hsla(200, 52%, 60%, 1);
	color: #212122;
}
.btn-history:hover {
	background: hsla(200, 52%, 60%, 0.6);
	color: #212122;
}
.weather-inner {
	backdrop-filter: blur(3px);
}

button {
	display: flex;
	align-items: center;
}

.state-04d {
	background: url('../images/broken-clouds.jpg');
}

.state-10d {
	background: url('../images/rainy.jpg');
}

.state-02d {
	background: url('../images/scattered-clouds.jpg');
}

.state-03d {
	background: url('../images/few-clouds.jpg');
}

.state-13d {
	background: url('../images/snow.jpg');
}

.state-01d {
	background: url('../images/sunshine.jpg');
}

.state-04d,
.state-10d,
.state-02d,
.state-03d,
.state-13d,
.state-01d {
	background-size: cover;
	background-position: center;
	font-weight: bold;
	color: #212122;
}

.hide {
	display: none;
}

.show {
	display: block;
}

.bg-blue {
	background-color: #003060;
}

/* JQuery-UI overrides
----------------------------------*/
.ui-widget {
	font-family: Verdana, Arial, sans-serif;
	font-size: 0.8em;
}

.ui-widget .ui-widget {
	font-size: 1em;
}

.ui-widget input,
.ui-widget select,
.ui-widget textarea,
.ui-widget button {
	font-family: Verdana, Arial, sans-serif;
	font-size: 1em;
}

.ui-widget.ui-widget-content {
	border: 1px solid #d3d3d3;
}

.ui-widget-content {
	border: 1px solid #aaaaaa;
	background: #565e64;
	color: #fff;
	border-radius: 15px;
	margin-top: 5px;
}

.ui-widget-content a {
	color: #222222;
}

.ui-widget-header {
	border: 1px solid #aaaaaa;
	background: #cccccc url('images/ui-bg_highlight-soft_75_cccccc_1x100.png') 50%
		50% repeat-x;
	color: #222222;
	font-weight: bold;
}

.ui-widget-header a {
	color: #222222;
}
